<ion-header style="height: 30px;">
  <ion-title>
    {{tempFile. name}}
  </ion-title>
</ion-header>
<ion-content >
  <!-- <div *ngFor="let n of totalPageArray; let i = index">
    {{n}}
  </div> -->
<div id="canvasParent" class="canvasParent">

</div>
<!-- <div id="viewerContainer" class="viewer-container">
  <div id="viewer" class="viewer">
    <ng-container id="pagesContainer">
        <div id="pageContainer" class="page"
              [style.width.px]="pageContainerUnique.width"
              [style.height.px]="pageContainerUnique.height">

            <div class="canvas-wrapper" id="canvasWrapper">
                <canvas class="page-canvas" id="canvas"></canvas>

            </div>
            <div id="textContainer" class="text-layer selectable">
            </div>
        </div>
    </ng-container>
  </div>
</div> -->
</ion-content>
<!-- <ion-content marginwidth="0" marginheight="0" bgcolor="rgb(38,38,38)">
<embed width="100%" height="100%" name="plugin" src="file:///storage/emulated/0/Books/rumi-the-book-of-love.pdf" type="application/pdf">
</ion-content> -->
