// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// imported fonts
// @import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Pacifico';
  src: url('../assets/fonts/Pacifico-Regular.ttf')  format('truetype');
}

$font-family-md-base: 'Ubuntu';

:root,
:root[mode="md"],
:root[mode="ios"] {
	--ion-font-family: 'Ubuntu', sans-serif;
	font-family: var(--ion-font-family) !important;
}

/** Ionic CSS Variables **/
:root {
  /** primary **/

  --ion-color-purple-500: #673ab7;
  --ion-color-purple-50: #ede7f6;
  --ion-color-purple-100: #d1c4e9;
  --ion-color-purple-200: #b39ddb;
  --ion-color-purple-300: #9575cd;
  --ion-color-purple-400: #7e57c2;
  --ion-color-purple-600: #5e35b1;
  --ion-color-purple-700: #512da8;
  --ion-color-purple-800: #4527a0;
  --ion-color-purple-900: #311b92;

  --ion-header-background-color: #311b92;
  --ion-icon-file-color : #311b92;
  --ion-list-activated: var(--ion-color-purple-100);
  --ion-menu-list-activated: var(--ion-color-purple-900);
  --ion-dialog-header-color: #311b92;

  --ion-popover-background:  #fff;
  .long-press-options{
    background: var(--ion-color-purple-50);
    color: var(--ion-color-purple-700);
    .close-button{
      background: var(--ion-color-purple-700);
    }
  }
}

:root body[data-theme = "light" ]{
  /** primary **/

  --ion-color-purple-500: #673ab7;
  --ion-color-purple-50: #ede7f6;
  --ion-color-purple-100: #d1c4e9;
  --ion-color-purple-200: #b39ddb;
  --ion-color-purple-300: #9575cd;
  --ion-color-purple-400: #7e57c2;
  --ion-color-purple-600: #5e35b1;
  --ion-color-purple-700: #512da8;
  --ion-color-purple-800: #4527a0;
  --ion-color-purple-900: #311b92;

  --ion-header-background-color: #311b92;


  --ion-icon-file-color : #311b92;
  --ion-list-activated: var(--ion-color-purple-100);
  --ion-menu-list-activated: var(--ion-color-purple-900);
  ion-toggle{
    --background : var(--ion-color-purple-100);
    --background-checked :var(--ion-color-purple-800);
  }

  
  --ion-dialog-header-color: #311b92;
  --ion-popover-background:  #fff;
  .long-press-options{
    background: var(--ion-color-purple-50);
    color: var(--ion-color-purple-700);
    .close-button{
      background: var(--ion-color-purple-700);
    }
  }
}
:root body[data-theme = "dark" ] {
  --ion-header-background-color: #121212;
  --ion-header-background-color-rgb: 18,18,18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: var(--ion-color-step-100);
    // sexy look --ion-item-background: #0dd2ec28;
  
  --ion-toolbar-background: #1f1f1f;

  --ion-tab-bar-background: #1f1f1f;

  --ion-icon-file-color : #9575cd;
  --ion-list-activated: #121212;
  --ion-menu-list-activated: #121212;
  --ion-dialog-header-color: var(--ion-text-color);
  --ion-popover-background:  var(--ion-color-step-100);
  ion-card{
    --background: var(--ion-color-step-150);
    --ion-item-background: var(--ion-color-step-100);
  }
  ion-content{
    --background: var(--ion-color-step-100);
  }
  
  ion-toggle{
    --background :var(--ion-color-purple-800);
    --background-checked :var(--ion-color-purple-100);
  }

  .long-press-options{
    background: var(--ion-color-step-200);
    color: var(--ion-color-step-900);
    .close-button{
      background: var(--ion-color-step-400);
    }
  }

}
