<div class="dialog-header">
    <ion-label> Name of Shelf</ion-label>
</div>
<ion-item>
    <ion-input [(ngModel)]="shelfName"></ion-input>
</ion-item>

<div >
    <ion-grid class="buttons">
        <ion-row>
        <ion-col>
            <ion-button [disabled]="!shelfName" class="paste-button" expand="full" (click)="createShelf()">ADD</ion-button>      
        </ion-col>
        <ion-col class="cancel">
            <ion-button expand="full" (click)="close()">cancel</ion-button>      
        </ion-col>
        </ion-row>
    </ion-grid> 
</div>
    