<div class="dialog-header">
    <ion-label *ngIf="!ren"> Name of Shelf</ion-label>
    <ion-label *ngIf="ren">Rename</ion-label>
</div>
<ion-item>
    <ion-input [(ngModel)]="shelfName"></ion-input>
</ion-item>

<div >
    <ion-grid class="buttons">
        <ion-row>
        <ion-col>
            <ion-button *ngIf="ren" [disabled]="!shelfName" class="paste-button" expand="full" (click)="createShelf()">RENAME</ion-button>      
            <ion-button *ngIf="!ren" [disabled]="!shelfName" class="paste-button" expand="full" (click)="createShelf()">ADD</ion-button>      
        </ion-col>
        <ion-col class="cancel">
            <ion-button expand="full" (click)="close()">CANCEL</ion-button>      
        </ion-col>
        </ion-row>
    </ion-grid> 
</div>
    