.dialog-header{
    color: var(--ion-dialog-header-color);
    ion-label{
        display: flex;
        align-items: center;
        margin: 20px;
        font-size: 25px;
    }
}

ion-item {
    margin: 0px 10px 10px 10px;
    --highlight-color-valid: var(--ion-color-purple-600) !important;
    --border-color: var(--ion-color-purple-600);
}
ion-grid{
    padding: 0;
    ion-col{
        padding: 0;
    }
}
ion-button{
        --background: var(--ion-color-purple-600);
        margin: 0;
}
