
.dialog-header{
    color: var(--ion-dialog-header-color);
    width: 100%;
    position:absolute; 
    top:0px; 
    overflow:hidden;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    ion-icon{
        font-size: 27px;
    }
    .dialog-header-child{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 0px 0px 10px;
        ion-label{
            display: flex;
            align-items: center;
            margin: 20px 0px;
            font-size: 25px;
        }
    }
}
.dialog-content{
    position:absolute; 
    top:55px; 
    bottom:50px; 
    overflow:auto;
    padding: 0;
    width: 100%;
    ion-label{
        padding: 0px;
    }
    ion-icon{
        margin-right: 16px;
    }
    .activated-item{
        --background: var(--ion-list-activated);
    }
}
.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow:hidden;
    ion-grid{
        padding: 0;
        ion-col{
            padding: 0;
        }
    }
    ion-button{
        --background: var(--ion-color-purple-600);
        margin: 0;
        ion-label{
            padding: 5px;
        }
    }
}
:host ion-fab{
    bottom: 40px;;
}
:host ion-fab ion-fab-button{
    --background: var(--ion-color-purple-600);
    --background-activated	: var(--ion-color-purple-700);
}