<div class="dialog-header">
  <div style="width: 10%;">
    <ion-icon *ngIf="folderStack.length > 1" class="arrow-round-back" name="arrow-round-back" slot="start" (click)="backButton()"></ion-icon>
</div>
 <div class="dialog-header-child">
  <ion-label *ngIf="!shouldmove && !shouldImport">Copy to</ion-label>  
  <ion-label *ngIf="shouldmove && !shouldImport">Move to</ion-label>
  <ion-label *ngIf="shouldImport">Import from</ion-label>
  <ion-icon  *ngIf="(selectedFilesMap | json) != '{}'" class="checkmark-circle" name="checkmark-circle" slot="end" (click)="selectAll()"></ion-icon>
 </div>
</div>
<!-- when used as copy paste dialog -->
<ion-list *ngIf="!shouldImport"  class="dialog-content">
  <div  *ngFor="let f of items">
   <ion-item *ngIf="f.isDirectory" (click)="itemClicked(f)">
     <ion-icon name="folder" slot="start" *ngIf="f.isDirectory"></ion-icon>
     <ion-label style="font-weight:bold;">
       {{f.name}}
     </ion-label>
   </ion-item>
  </div>
</ion-list>
<!-- when used as import dialog -->
<ion-list *ngIf="shouldImport"  class="dialog-content">
  <div  *ngFor="let f of items, let i=index">
    <ion-item [ngClass]="{'activated-item': f.selected}"  *ngIf="f.isDirectory" class="directory" (press)="itemPressed(f,i)">
      <ion-icon *ngIf="!f.selected" (click)="itemPressed(f,i)" name="folder" slot="start" ></ion-icon>
      <ion-icon *ngIf="f.selected" (click)="itemPressed(f,i)" name="checkmark" slot="start" ></ion-icon>
      <ion-label style="font-weight:bold;" (click)="itemClicked(f,i)" >
        {{f.name}}
      </ion-label>
    </ion-item>

    <ion-item [ngClass]="{'activated-item': f.selected}"  *ngIf="!f.isDirectory" class="file" (press)="itemPressed(f,i)">
      <ion-icon *ngIf="!f.selected" (click)="itemPressed(f,i)" name="document" slot="start" ></ion-icon>
      <ion-icon *ngIf="f.selected" (click)="itemPressed(f,i)" name="checkmark" slot="start" ></ion-icon>
      <ion-label style="font-weight:bold;" (click)="itemClicked(f,i)" >
        {{f.name}}
      </ion-label>
    </ion-item>
  </div>
</ion-list>

<div class="footer">
  <ion-grid class="buttons">
    <ion-row>
      <ion-col>
        <ion-button *ngIf="!shouldImport"  class="paste-button" expand="full" (click)="finishCopyFile()">
          <ion-label>Keep Here</ion-label>
        </ion-button>   
        <ion-button *ngIf="shouldImport" class="paste-button" expand="full" (click)="finishImport()">
          <ion-label>Import</ion-label>
        </ion-button>    
      </ion-col>
      <ion-col class="cancel">
        <ion-button expand="full" (click)="close()">
          <ion-label>cancel</ion-label>
        </ion-button>      
      </ion-col>
    </ion-row>
  </ion-grid> 
</div>