
.my-custom-menu {
    --width: 250px;
    ion-list{
        .fs-selected{
            --background: var(--ion-color-purple-900);
            --color: #ffffff;
            ion-icon{
                color: white;
            }
        }
        .menu-heading{
            padding: 16px;
        }
    }
    
  }
  ion-toolbar{
      --background: var(--ion-color-purple-600);
      --color: #ffffff
  }
.header{
    .menu-button{
        padding-left: 5px;
        font-size: 32px;
    }
    .option-button{
        font-size: 32px;

    }
}
.list-items{
    .directory{
        ion-icon{
            color: var(--ion-color-purple-300);
            font-size: 32px;
        }
        font-weight:bold;
    }
    .file{
        ion-icon{
            color: var(--ion-color-purple-900);
            font-size: 32px;
        }
    }

    padding: 0;
    ion-label{
        padding: 5px 0px;
    }
    ion-icon{
        margin-right: 16px;
    }
    ion-item-option{
        ion-icon{
            font-size: 24px;
        }
    }
}
.copy-button{
    --background: var(--ion-color-purple-400);

}
.move-button{
    --background: var(--ion-color-purple-300);
}
  