
<ion-menu side="start" menuId="first" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>PDF Viewer</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Home</ion-item>
      <ion-list>
        <ion-item>Internal storage</ion-item>
        <ion-item>MicroSd</ion-item>
      </ion-list>
      <ion-item>Network storage</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>



<ion-header class="header">
  <ion-toolbar color="tertiary">
    <ion-icon class="menu-button" slot="start" name="menu" (click)="openFirst()"></ion-icon>
      <ion-back-button slot="start" *ngIf="folder != 'Books'"></ion-back-button>
    <ion-title>
      {{ folder || 'Home'}}
    </ion-title>
    <ion-icon class="option-button" slot="end" name="more" (click)="optionsPopover($event)"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-list>

   <ion-item-sliding *ngFor="let f of items">
    <ion-item (click)="itemClicked(f)">
      <ion-icon name="folder" slot="start" *ngIf="f.isDirectory"></ion-icon>
      <ion-icon name="document" slot="start" *ngIf="!f.isDirectory"></ion-icon>
      <ion-label *ngIf="f.isDirectory" style="font-weight:bold;">
        {{f.name}}
      </ion-label>
      <ion-label *ngIf="!f.isDirectory">
        {{f.name}}
      </ion-label>
    </ion-item>

    <ion-item-options side="start" *ngIf="!f.isDirectory">
      <ion-item-option (click)="deleteFiles(f)" color="danger">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option (click)="copyItem($event, f)" color="success">
        Copy
      </ion-item-option>
      <ion-item-option (click)="copyItem($event, f, true)" color="primary">
        Move
      </ion-item-option>
    </ion-item-options>


   </ion-item-sliding>
 </ion-list>
</ion-content>
