.app-logo{
    font-family: 'Pacifico', cursive;
    font-size: 24px;
}
.my-custom-menu {
    --width: 250px;
    ion-list{
        .fs-selected{   
            --background: var(--ion-menu-list-activated);
            --color: #ffffff;
            ion-icon{
                color: white;
            }
        }
        .menu-heading{
            padding: 16px;
        }
    }
    
  }
  ion-toolbar{
      --background: var(--ion-header-background-color);
      --color: #ffffff;
  }
.header{
    ion-icon{
        font-size: 32px;
    }
    .menu-button{
        padding-left: 5px;
    }
    .checkMark-button{
        padding-right: 5px;
    }
    .bin-button{
        padding-right: 5px;
        color: var(--ion-color-danger);
    }
}
.directory-parent{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background: var(--ion-header-background-color);
    .forward-button{
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3em;
        position: fixed;
        right: 0;
    }
    .left-wrap{
        left: 0;
    }
    .right-wrap{
        right: 0;
    }
    ion-card{
        height: 100px;
        width: fit-content;
        border-radius: 20px;

        ion-item{
            height: 100%;
            display: flex;
            position: relative;
            overflow: hidden;
            --background-activated: var(--ion-list-activated);
            --ion-item-background-activated:  var(--ion-list-activated);
            ion-icon{
                color: var(--ion-color-purple-300);
                font-size: 32px;
                margin-right: 10px;
                
            }
            font-weight:bold;
        }
    }
}
.file-parent{
        ion-item{
            height: 100%;
            display: flex;
            height: 70px;
            padding: 0px 10px;
        }
    .activated-item{
        --background: var(--ion-list-activated);
    }
    .file{
        // padding-bottom: 10px;
        // --background: var(--ion-header-background-color);
        ion-icon{
            color: var(--ion-icon-file-color);
            font-size: 32px;
        }
    }

    padding: 0;
    ion-label{
        padding: 5px 0px;
    }
    ion-icon{
        margin-right: 16px;
    }
    ion-item-option{
        ion-icon{
            font-size: 24px;
        }
    }
}
.long-press-options{
    position: fixed;
    bottom: 30px;
    left: 10%;
    height: 60px;
    width: 80%;
    display: flex;
    border-radius: 30px;
    font-size: 27px;
    padding: 3px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.30), 0 10px 10px rgba(0,0,0,0.22);

    .logic-buttons{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 25px;
    }
    .close-button{
        padding: 14px;
        color: #ffffff;
        width: 19%;
        border-radius: 30px;
    }
}
.share-button{
    --background: var(--ion-color-purple-500);
}
.openWith-button{
    --background: var(--ion-color-purple-400);
}
.rename-button{
    --background: var(--ion-color-purple-300);
}
.move-button{
    --background: var(--ion-color-purple-300);
}
:host ion-fab ion-fab-button{
    --background: var(--ion-color-purple-600);
    --background-activated	: var(--ion-color-purple-700);
}