.popover-page {
    .text-to-change div {
      margin: 10px auto;
    }
  
    // ion-row,
    // ion-col {
    //   padding: 0;
    // }
  
    .text-button {
    //   padding-left: 0;
        width: 100%;
        height: 100%;
      text-align: center;
      min-height: 20px;
      line-height: 18px;
      
    }
  
    .text-button .item-inner {
      padding-right: 0;
    }
  
    .text-smaller {
      font-size: 12px;
    }
  
    .text-larger {
      font-size: 16px;
    }
  
    .row-dots {
      text-align: center;
  
      .dot {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin: 10px auto;
        position: relative;
        border: 1px solid #dedede;
      }
    }
  
    .dot-white {
      background-color: rgb(255,255,255);
    }
  
    .dot-tan {
      background-color: rgb(249,241,228);
    }
  
    .dot-grey {
      background-color: rgb(76,75,80);
    }
  
    .dot-black {
      background-color: rgb(0,0,0);
    }

    .dot.selected {
      border-width: 2px;
      border-color: #327eff;
    }
  }