<ion-list radio-group [(ngModel)]="fontFamily" (ionChange)="changeFontFamily()" class="popover-page">
    <ion-item >
        <ion-grid>
            <ion-row class="row-dots">
                <ion-col>
                  <button ion-button="dot" (click)="changenighMode('false')" class="dot dot-tan" [class.selected]="background == 'tan'"></button>
                </ion-col>
                <ion-col>
                  <button ion-button="dot" (click)="changenighMode('true')" class="dot dot-black" [class.selected]="background == 'black'"></button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item>
        <ion-grid>
            <ion-row class="row">
                <ion-col class="col">
                    <ion-buttons (click)="changeFontSize('smaller')" class="justify-content-center text-button text-smaller" >
                        <ion-label>-A</ion-label>
                    </ion-buttons>
                </ion-col>
                <ion-col class="col">
                    <ion-buttons (click)="changeFontSize('larger')" class="text-button text-larger">
                        <ion-label>+A</ion-label>
                    </ion-buttons>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-buttons (click)="createshelf()">
        <ion-label>Create New Shelf</ion-label>
    </ion-buttons>
  </ion-list>